/* Google fonts import */
    @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* Override default styles added by the browser*/
    * {
        padding: 0%;
        margin: 0%;
        box-sizing: border-box;
    }

/* General Styles */
    body{
        min-height:100vh;
        display: flex;
        flex-direction: column;
        /* Generic project styles */
        color:#2e2e2e;
        font-family: 'Roboto', sans-serif;
        /* Background image*/
        background: url(../images/bg.jpg) no-repeat center center/cover;
    }

    h1, h2, h3 {
        font-family: 'Roboto', sans-serif;
        letter-spacing: 2px;
        font-size: 2em;
    }

/* header */
    header{
        display: flex;
        justify-content:space-between;
        align-items:center;
        position: fixed;
        z-index: 42;
        width: 100%;
        box-shadow: 0 1px 4px #f15820;
        background-color: rgba(255, 255, 255, .8);
    }

    nav a{
        text-decoration: none;
        color: inherit;
    }

    #menu{
        font-size: 130%;
        font-family: 'Roboto', sans-serif;
        list-style-type: none;
        letter-spacing: 3px;
        width:100%;
    }

    #menu > li {
        margin-bottom: .3em;
        padding: 5px;
    }
    
    #menu > li:hover{
        background-color:rgba(247, 152, 28, 1);
        color: #fafafa;
        border:hidden;
        border-radius: 5px;
    }

    .active{
        font-weight: 700;
    }

/* Navbar styles w/ dropdown toggle */
    nav{
        align-content: flex-start;
        position: absolute;
        width: 100%;
        left: 0%;
        box-shadow: 0 1px 4px #f15820;
        display: none;
        top: 100%;
    }

    /* nav toggle */
        #nav-toggle:checked~nav{
            display: block;
        }

        #nav-toggle{
            display: none;
        }

        .nav-toggle-label{
            font-size: 4rem;
            align-self: center;
            padding-left: 2.2rem;
        }

 /* logo in navbar */
    #logo{
        margin: 10px;
        height: 145px;
        width:145px;
        background: url(../images/logo\ 1.png) no-repeat center center/cover;
        background-color: rgba(255, 255, 255, .5);
        z-index: 41;
    }
     
/* Main */
    main{
        margin-top: 200px;
        width: 100%;
        position: fixed;
        /* border box */
        border: hidden;
        border-radius: 3px;
        background-color: rgba(4, 131, 130, .9);
        /* Enable flex properties for child elements */
        display: flex;
        flex-direction: column;
        color:#fafafa;
    }

    #intro{
        padding:10px;
        flex-wrap: wrap;
        flex-flow: column;
        margin-left: 20px;
        margin-right: 20px;
        margin-bottom: 20px;
    }

/* Footer */
    footer{
        width: 100%;
        position: fixed;
        bottom: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        background-color: rgba(255, 255, 255, .8);
        color: #bd1a21;
        justify-content: center;
    }
    
    footer a{
        align-self: center;
    }

        #logo-dc-wers{
            padding: 10px 20px;
            width: 304px;
        }

        #social {
            padding: 10px 0;
            flex-direction: row;
            display: flex;
            justify-content: center;
            list-style-type: none;
            align-items: baseline;
        }
        
        #social li {
            padding: 0 20px;
        }

        #social a{
            font-size: 200%;
            color:	inherit;
        }

/* Contact form */

/* Media Queries */

@media screen and (min-width: 768px) {
    /* header */
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-left: 2rem;
        align-self:auto;
    }

    #menu {
        display: flex;
    }

    #menu > li {
        padding-right: 3rem;
        padding-left: 3rem;
        font-weight: 500;
    }

    .nav-toggle-label{
        display: none;
    }
    #logo{
        height:120px;
        width: 120px;
        margin: 20px;
    }
    /* footer */

    footer{ 
        display: flex;
        flex-direction: row;
        gap: 150px;
    }
 
    #logo-dc-wers{
        display: inline-flex;
     }

     #social{
        display: inline-flex;
     }
}

/* large devices (laptops and desktops 992px and up) */
@media screen and (min-width: 992px) {
    #logo{
        height:100px;
        width: 100px;
        margin: 20px;
    }
}