/* Google fonts import */
    @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* Override default styles added by the browser*/
    * {
        padding: 0%;
        margin: 0%;
        box-sizing: border-box;
    }

/* General Styles */
    body{
        min-height:100vh;
        display: flex;
        flex-direction: column;
        /* Generic project styles */
        color:#2e2e2e;
        font-family: 'Roboto', sans-serif;
        /* Background image*/
        background-image: url(../images/bg.jpg);
    }

    h1, h2, h3 {
        font-family: 'Roboto', sans-serif;
        letter-spacing: 2px;
        color: #2e2e2e;
    }

/* header */
    header{
        display: flex;
        justify-content:space-between;
        align-items:center;
        position: fixed;
        z-index: 42;
        width: 100%;
        box-shadow: 0 1px 4px #f15820;
        background-color: rgba(255, 255, 255, .8);
    }

    nav a{
        text-decoration: none;
        color: inherit;
    }

    #menu{
        font-size: 130%;
        font-family: 'Roboto', sans-serif;
        list-style-type: none;
        letter-spacing: 3px;
        width:100%;
    }

    #menu > li {
        margin-bottom: .3em;
        padding: 5px;
    }
    
    #menu > li:hover{
        background-color:rgba(247, 152, 28, 1);
        color: #fafafa;
        border:hidden;
        border-radius: 5px;
    }

    .active{
        font-weight: 700;
    }

/* Navbar styles w/ dropdown toggle */
    nav{
        align-content: flex-start;
        position: absolute;
        width: 100%;
        left: 0%;
        box-shadow: 0 1px 4px #f15820;
        display: none;
        top: 100%;
    }

    /* nav toggle */
        #nav-toggle:checked~nav{
            display: block;
        }

        #nav-toggle{
            display: none;
        }

        .nav-toggle-label{
            font-size: 4rem;
            align-self: center;
            padding-left: 2.2rem;
        }

    /* logo in navbar */
        #logo{
            margin: 10px;
            height: 145px;
            width:145px;
            background: url(../images/logo\ 1.png) no-repeat center center/cover;
            float:right;
            background-color: rgba(255, 255, 255, .5);
            z-index: 41;
        }
     
/* Main */
        main{
            margin-top:170px;
        }
/* Footer */

/* Contact form */

/* Media Queries */

@media screen and (min-width: 768px) {
    /* header */
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-left: 2rem;
        align-self:auto;
    }

    #menu {
        display: flex;
    }

    #menu > li {
        padding-right: 3rem;
        padding-left: 3rem;
        font-weight: 500;
    }

    .nav-toggle-label{
        display: none;
    }
    #logo{
        height:120px;
        width: 120px;
        margin: 20px;
    }

}